.time-block-wrapper {
  border-bottom: 2px solid #c0c5ce;
  /*margin: 10px;*/
}

.colorblock-main {
  margin: 10px 10px 0 10px;
  /*border: 1px solid green;*/
}

.each-block {
  background-color: var(--light-gray);
  width: 30%;
  padding-top: 27%;
  position: relative;
  display: inline-block;

  animation-name: block;
  animation-duration: 30s;
  animation-iteration-count: 100;
}


/*@-webkit-keyframes block {
    0%  {opacity: 1}
    5%  {opacity: 0.7}
    10% {opacity: 1}
    15% {opacity: 0.7}
    20% {opacity: 1}
    25% {opacity: 0.7}
    30% {opacity: 1}
    35% {opacity: 0.7}
    40% {opacity: 1}
    45% {opacity: 0.7}
    50% {opacity: 1}
    55% {opacity: 0.7}
    60% {opacity: 1}
    65% {opacity: 0.7}
    70% {opacity: 1}
    75% {opacity: 0.7}
    80% {opacity: 1}
    85% {opacity: 0.7}
    90% {opacity: 1}
    95% {opacity: 0.7}
    100% {opacity: 1}
}*/

.block1 {
  /*margin: 10px;*/
  /*width: 25%;
  height: 200px;*/
  /*background-color: yellow;*/
  /*display: inline-block;*/
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.block2 {
  /*margin: 10px;*/
  /*width: 25%;
  height: 200px;*/
  /*background-color: pink;*/
  /*display: inline-block;*/
}

.block3 {
  /*margin: 10px;*/
  /*width: 25%;
  height: 200px;*/
  /*background-color: orange;*/
  /*display: inline-block;*/
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sketch-picker-wrapper {
  height: 0px;
  position: fixed;
  top: -80px
}

.sketch-picker {
  display: inline-block;
}
