.time-block-wrapper {
  border-bottom: 2px solid #c0c5ce;
}

.colorblock-main {
  margin: 10px 10px 0 10px;
}

.each-block {
  background-color: var(--light-gray);
  width: 30%;
  padding-top: 27%;
  position: relative;
  display: inline-block;

  animation-name: block;
  animation-duration: 30s;
  animation-iteration-count: 100;
}

.block1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.block3 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sketch-picker-wrapper {
  height: 0px;
  position: fixed;
  top: -80px
}

.sketch-picker {
  display: inline-block;
}
