.test {
  /* border: 1px solid red; */
  background-color: white;
}

.header-container {
  /* background-color: var(--darker-blue); */
  position: fixed;
  width: 100%;
  max-width: 415px;
  z-index: 2;
}

@media only screen and (min-width: 415px) {
  .header-container {
    position: absolute;
  }
}

.location-header {
  height: 50px;
  background-color: var(--darker-blue);
  color: white;
  border-bottom: 2px solid black;
}

.location-header-arrow {
  color: white;
  position: absolute;
  margin: 10px;
}

.location-header-bars {
  color: white;
  position: absolute;
  margin: 10px;
  right: 10px;
}

.location-header h2 {
  margin: auto;
  /*border: 1px solid red;*/
  vertical-align: middle;
  font-size: 1.1em;
  /*width: 50%;*/
}

.location-list-wrapper {
  padding-top: 113px;
}

.location-list-wrapper-destination {
  padding-top: 147px;
}

.location-list {
  /*margin: 0 30%;*/
  width: 100%;
  /*border: 1px solid blue;*/
  text-align: left;
  font-size: .9em;
}

.location-list-blah {
  /*margin: 0 30px;*/
  /*border-top: 1px solid gray;*/
  /*border-bottom: 1px solid gray;*/
  /*padding: 15px;*/
}

.location-list a {
  text-decoration: none;
  color: black;
}

.location-each {
  margin: 0 15px;
  /*border-top: 1px solid gray;*/
  border-bottom: 1px solid var(--light-gray);
  padding: 11px 0 11px 5px;
}

.search-wrapper {
  background-color: var(--darker-blue);
  padding: 6px;
}

.search-wrapper2 {
  border-radius: 10px;
  background-color: var(--dark-blue);
  margin: 5px;
  /*border: 2px solid #ccc;*/
  text-align: left;
}

.location-search-icon {
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  margin: 0 10px 0 10px;
  /*color: red;*/
  /*text-align: left;*/

}

.location-search-box {
  height: 35px;
  width: 80%;
  background-color: transparent;
  border: 0px solid;
  font-size: 15px;
  text-align: left;
  color: white;
}

.location-search-box:focus {
  outline: 1px solid var(--dark-blue);
}

.location-search-box::-webkit-input-placeholder {
  color: #8b9dc3 !important;
}

.alpha {
  background-color: var(--lighter-gray);
  color: var(--darker-blue);
  text-align: left;
}

.blank {
  background-color: var(--darker-blue);
  height: 30px;
}

.letter {
  margin: 0 10px;
  padding-top: 2px;
  font-size: 16px;
}

.black-bar {
  background-color: #011f4b;
  height: 6px;
}

.yellow-progress {
  height: 100%;
  /*border: 1px solid red;*/
  background-color: orange;
}

.origin-destination {
  /*border: 1px solid green;*/
  background-color: var(--darker-blue);
  color: white;
  text-align: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  /*width: 40%;*/
  /*text-align: !important center;*/
  /*vertical-align: middle;*/
}

.origin-destination-third {
  display: inline-block;
  /*border: 1px solid red;*/
  /*width: 40%;
  height: 40px;*/
  vertical-align: middle;
  font-weight: 300;
  font-size: .9em;
}

.origin-destination-middle {
  /*width: 15%;*/
  /*border: 1px solid red;*/
  padding: 0 10px;
}

.origin-destination-next {
  display: inline-block;
  margin-right: 5px;
}

#arrow-right {
  color: #3b5998;
}

.location-arrow {
  /*border: 1px solid red;*/
  float: right;
  color: orange;
  font-size: 1.5em;
}

@media only screen and (min-width: 415px) {
  /* .location-list-blah:hover {
    background-color: #3b5998;
  }

  .location-each:hover {
    color: white;
  } */
}
