.test {
  /*border: 1px solid red;*/
}

.location-header {
  height: 70px;
  background-color: #3b5998;
  color: white;
  border-bottom: 2px solid black;
}

.location-header-arrow {
  color: white;
  position: fixed;
  /*border: 1px solid red;*/
}

.location-header h2 {
  margin: auto;
  padding: 20px;
  /*border: 1px solid red;*/
  vertical-align: middle;
  font-size: 1.1em;
  /*width: 50%;*/
}

.location-list {
  /*margin: 0 30%;*/
  width: 100%;
  /*border: 1px solid blue;*/
  text-align: left;
  font-size: .9em;
}

.location-list-blah {
  /*margin: 0 30px;*/
  /*border-top: 1px solid gray;*/
  /*border-bottom: 1px solid gray;*/
  /*padding: 15px;*/
}

.location-list-blah:hover {
  background-color: #3b5998;
}

.location-list a {
  text-decoration: none;
  color: black;
}

.location-each {
  margin: 0 15px;
  /*border-top: 1px solid gray;*/
  border-bottom: 1px solid gray;
  padding: 15px 0 15px 5px;
}

.location-each:hover {
  color: white;
}

.search-wrapper {
  background-color: #3b5998;
  padding: 5px;
}

.search-wrapper2 {
  border-radius: 10px;
  background-color: #8b9dc3;
  margin: 4px;
  /*border: 2px solid #ccc;*/
  text-align: left;
}

.location-search-icon {
  /*display: inline-block;*/
  /*border: 1px solid red;*/
  margin: 0 10px 0 10px;
  /*color: red;*/
  /*text-align: left;*/

}

.location-search-box {
  height: 30px;
  width: 80%;
  background-color: transparent;
  border: 0px solid;
  font-size: 14px;
  text-align: left;
  color: white;
}

.location-search-box::-webkit-input-placeholder {
  color: #dfe3ee !important;
}

.alpha {
  background-color: #c0c5ce;
  color: #3b5998;
  text-align: left;
}

.blank {
  background-color: #3b5998;
  height: 25px;
}

.letter {
  margin: 0 10px;
  padding: 3px;
  font-size: 16px;
}

.black-bar {
  background-color: #011f4b;
  height: 6px;
}

.yellow-progress {
  height: 100%;
  /*border: 1px solid red;*/
  background-color: orange;
}

.origin-destination {
  /*border: 1px solid green;*/
  background-color: #3b5998;
  color: white;
  text-align: left;
  padding: 5px 15px;
  /*width: 40%;*/
  /*text-align: !important center;*/
  /*vertical-align: middle;*/
}

.origin-destination-third {
  display: inline-block;
  /*border: 1px solid red;*/
  /*width: 40%;
  height: 40px;*/
  vertical-align: middle;
  font-weight: 300;
  font-size: .9em;
}

.origin-destination-middle {
  /*width: 15%;*/
  /*border: 1px solid red;*/
  padding: 0 10px;
}

.origin-destination-next {
  display: inline-block;
  margin-right: 5px;
}

#arrow-right {
  color: #3b5998;
}

.location-arrow {
  /*border: 1px solid red;*/
  float: right;
  color: orange;
  font-size: 1.5em;
}
