.timeclock-main {
  margin: 5px 0;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.timeclock-text {
  margin-top: 5vw;
  font-size: 8vw;
  color: white;
  text-shadow:
    3px 3px 5px rgba(25, 25, 25, 1),
    -2px -2px 5px rgba(25, 25, 25, 1),
    2px -2px 5px rgba(25, 25, 25, 1),
    -2px 2px 5px rgba(25, 25, 25, 1),
    2px 2px 5px rgba(25, 25, 25, 1);
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: 100;
  max-width: 250px;
}

@media only screen and (min-width: 415px) {
  .timeclock-text {
    font-size: 2.1em;
    margin-top: 20px;
  }

  .timeclock-main {
    width: 400px;
    max-width: 400px;
  }
}

.timeclock-time {
  letter-spacing: 1px;
  line-height: 90%;
  margin: 0 0 2px 0;
  padding: 0;
  font-weight: 300;
}

.timeclock-date {
  line-height: 90%;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

@-webkit-keyframes example {
  0%  {left:-10px;}
  25% {left:130px;}
  50% {left:-10px;}
  75% {left:130px;}
  100% {left:-10px;}
}
