.wallet-toggle-wrapper {
  border: 2px solid red;
  margin: 10px;
  border-radius: 10px;
}

.wallet-toggle-ticket {
  display: inline-block;
  width: 50%;
  color: #05377b;
  background-color: white;
}

.wallet-toggle-history {
  display: inline-block;
  width: 50%;
  color: white;
  /*background-color: #3b5998;*/
  background-color: #8b9dc3;
}

.wallet-ticket-wrapper {
  margin: 10px;
  border: 2px solid red;
  text-align: left;
  border-radius: 10px;
  height: 180px;
}

.wallet-ticket-top {
  color: black;
  border-bottom: 1px solid gray;
  margin: 10px 15px 0 15px;
  padding-bottom: 15px;
}

.wallet-ticket-top > div:first-child{
  line-height: 2;
}

.wallet-ticket-bottom {
  color: black;
  /*border: 1px solid green;*/
  margin: 10px 15px 0 15px;
}

.wallet-ticket-bottom > div:first-child{
  line-height: 2;
}


.wallet-ticket-bottom i {
  color: black;
  font-size: 18px;
  margin-right: 5px;
  /*border: 1px solid red;*/
}
