.tap-button {
  font-size: .7em;
  font-weight: 700;
  /*border: 1px solid blue;*/
  margin-bottom: 5px;
}

.ticket-activated-at {
  background-color: #d62d20;
  border-radius: 5px;
  color: white;
  margin: 10px 15px;
  padding: 7px;
}

.ticket-type-info {
  background-color: white;
  border-bottom: 1px solid #a7adba;
  border-radius: 5px;
  color: black;
  margin: 10px 15px;
  padding: 7px;
}

.button-wrapper {
  background-color: blue;

}

.time-block-button-wrapper {

}

.app-container-lower {
  background-color: #f1f1f1;
}
