.half-circle {
  background-color: #3b5998;
  width: 80px;
  height: 40px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: auto;
}

.fa {
  color: white;
  font-size: 30px;
}
