.button {
  margin: 10px auto;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  padding: 15px;
  color: black;
}

.button:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}
