.buytickets {
  /*background-color: #3b5998;*/
  background-color: #05377b;
  position: fixed;
  height: 100%;
  /*width: 50%;*/
  width: 100%;
}

/*@media(max-width: 648px) {
  .buytickets {
    width: 100%;
  }
}*/

.buy-ticket-text {
  display: inline-block;
  text-align: left;
  width: 50%;
}

.buy-ticket-arrow {
  color: #05377b;
  display: inline-block;
  text-align: right;
  width: 50%;
  font-size: 1em;
}

.button {
  margin: 10px auto;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  /*width: 40%;*/
  margin: 10px;
  padding: 15px;
  color: black;
  text-decoration: none;
  background-color: white;
}

.button:hover {
  background-color: #05377b;
  color: white;
  text-decoration: none;
}
