.tab-wrapper {
  /*background-color: #8b9dc3;*/
  background-color: var(--dark-blue);
}

.single-tab {
  display: inline-block;
  padding: 10px;
  width: 50%;
  background-color: white;
  margin-top: 5px;
  border-top-right-radius: 8px;
  font-size: .9em;
}

.multiple-tab {
  display: inline-block;
  padding: 10px;
  width: 50%;
  color: white;
  font-weight: 300;
  font-size: .9em;
  /*border: 1px solid blue;*/
}

.ticket-list-wrapper {
  background-color: white;
  padding-top: 165px;
  /* height: 100vh; */
}

.ticket-list {
  width: 100%;
  /*border: 1px solid blue;*/
  text-align: left;
  background-color: white;
  /*font-size: .8em;*/
}

.ticket-each {
  margin: 0 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border-top: 1px solid gray;*/
  border-bottom: 1px solid var(--light-gray);
  padding: 20px 0;
  /*font-weight: 300;*/
  /*font-size: 1em;*/
  color: black;
}

@media only screen and (min-width: 415px) {
  /* .ticket-each:hover {
    color: white;
  } */
}

.ticket-type {
  display: inline-block;
  /*border: 1px solid red;*/
  width: 70%;
  text-align: left;
}

.ticket-price {
  display: inline-block;
  /*border: 1px solid red;*/
  width: 30%;
  text-align: right;
}

.ticket-arrow {
  padding: 0 10px;
  color: orange;
  font-size: 1.5em;
}

.origin-destination-next {
  font-weight: 300;
  font-size: 0.9em;
}

.info-circle {
  margin-right: 10px;
}
