.timeclock-main {
  margin: 5px 0;
  width: 100%;
  /*height: 200px;*/
  position: fixed;
  text-align: center;
  /*border: 1px solid green;*/
}

.timeclock-text {
  padding-top: 20px;
  /*margin: auto;*/
  /*text-align: justify;*/
  font-size: 2.2em;
  color: white;
  text-shadow:
    3px 3px 0 rgba(50, 50, 50, 0.8),
    -2px -2px 0 rgba(50, 50, 50, 0.8),
    2px -2px 0 rgba(50, 50, 50, 0.8),
    -2px 2px 0 rgba(50, 50, 50, 0.8),
    2px 2px 0 rgba(50, 50, 50, 0.8);
  position: relative;
  animation-name: example;
  animation-duration: 40s;
  animation-iteration-count: 100;
  /*border: 1px solid green;*/
  width: 100%;
}

.timeclock-time {
  /*border: 1px solid red;*/
  /*width: 50%;*/
  letter-spacing: 1px;
  line-height: 90%;
  margin: 0 0 2px 0;
  padding: 0;
}

.timeclock-date {
  /*border: 1px solid red;*/
  /*width: 50%;*/
  line-height: 90%;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

/*@-webkit-keyframes example {
    0%  {top:0px;}
    5%  {top:120px;}
    10% {top:0px;}
    15% {top:120px;}
    20% {top:0px;}
    25% {top:120px;}
    30% {top:0px;}
    35% {top:120px;}
    40% {top:0px;}
    45% {top:120px;}
    50% {top:0px;}
    55% {top:120px;}
    60% {top:0px;}
    65% {top:120px;}
    70% {top:0px;}
    75% {top:120px;}
    80% {top:0px;}
    85% {top:120px;}
    90% {top:0px;}
    95% {top:120px;}
    100% {top:0px;}
}*/

@-webkit-keyframes example {
    0%  {left:-14%;}
    5%  {left:14%;}
    10% {left:-14%;}
    15% {left:14%;}
    20% {left:-14%;}
    25% {left:14%;}
    30% {left:-14%;}
    35% {left:14%;}
    40% {left:-14%;}
    45% {left:14%;}
    50% {left:-14%;}
    55% {left:14%;}
    60% {left:-14%;}
    65% {left:14%;}
    70% {left:-14%;}
    75% {left:14%;}
    80% {left:-14%;}
    85% {left:14%;}
    90% {left:-14%;}
    95% {left:14%;}
    100% {left:-14%;}
}
