.timeclock-main {
  margin: 5px 0;
  width: 100%;
  /*height: 200px;*/
  position: fixed;
  text-align: center;
  /*border: 1px solid green;*/
}

.timeclock-text {
  /*padding-top: 75px;*/
  font-size: 2em;
  color: white;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  position: relative;
  animation-name: example;
  animation-duration: 40s;
  animation-iteration-count: 100;
  /*border: 1px solid red;*/
  width: 100%;
}


/*@-webkit-keyframes example {
    0%  {top:0px;}
    5%  {top:120px;}
    10% {top:0px;}
    15% {top:120px;}
    20% {top:0px;}
    25% {top:120px;}
    30% {top:0px;}
    35% {top:120px;}
    40% {top:0px;}
    45% {top:120px;}
    50% {top:0px;}
    55% {top:120px;}
    60% {top:0px;}
    65% {top:120px;}
    70% {top:0px;}
    75% {top:120px;}
    80% {top:0px;}
    85% {top:120px;}
    90% {top:0px;}
    95% {top:120px;}
    100% {top:0px;}
}*/

@-webkit-keyframes example {
    /*0%  {left:-10%;}
    5%  {left:10%;}
    10% {left:-10%;}
    15% {left:10%;}
    20% {left:-10%;}
    25% {left:10%;}
    30% {left:-10%;}
    35% {left:10%;}
    40% {left:-10%;}
    45% {left:10%;}
    50% {left:-10%;}
    55% {left:10%;}
    60% {left:-10%;}
    65% {left:10%;}
    70% {left:-10%;}
    75% {left:10%;}
    80% {left:-10%;}
    85% {left:10%;}
    90% {left:-10%;}
    95% {left:10%;}
    100% {left:-10%;}*/
}
