.timeclock-main {
  margin: 5px 0;
  width: 100vw;
  /*height: 200px;*/
  position: absolute;
  /*border: 1px solid green;*/
  z-index: 2;
}

.timeclock-text {
  /* padding-top: 20px; */
  /*margin: auto;*/
  /*text-align: justify;*/
  margin-top: 5vw;
  font-size: 8vw;
  color: white;
  text-shadow:
    3px 3px 5px rgba(50, 50, 50, 0.8),
    -2px -2px 5px rgba(50, 50, 50, 0.8),
    2px -2px 5px rgba(50, 50, 50, 0.8),
    -2px 2px 5px rgba(50, 50, 50, 0.8),
    2px 2px 5px rgba(50, 50, 50, 0.8);
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: 100;
  max-width: 400px;
  /*border: 1px solid green;*/
  /* width: 100%; */
  /* left: -70px; */
}

@media only screen and (min-width: 415px) {
  .timeclock-text {
    font-size: 2.1em;
    margin-top: 20px;
  }

  .timeclock-main { 
    width: 400px;
    max-width: 400px;
  }
}

.timeclock-time {
  /*border: 1px solid red;*/
  /*width: 50%;*/
  letter-spacing: 1px;
  line-height: 90%;
  margin: 0 0 2px 0;
  padding: 0;
}

.timeclock-date {
  /*border: 1px solid red;*/
  /*width: 50%;*/
  line-height: 90%;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes example {
  0%  {left:-70px;}
  25% {left:70px;}
  50% {left:-70px;}
  75% {left:70px;}
  100% {left:-70px;}
}
